
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
 
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:transparent;

  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 100px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    /* background: #88dd88; */

  }
  