

<!-- main div -->
<div style="display: flex; flex-direction: column; height: 100vh;">
  <!-- top bar -->
  <div  *ngIf="topbar?.length > 0">
    <ng-container *ngTemplateOutlet="elements; context:{value:topbar}"></ng-container>

  </div>
  <!-- end top bar -->

  <div  style="display: flex; flex: 1;flex-direction: row;place-content: flex-start;align-items: stretch;width: 100%;">

    <!-- sidebar -->
    <div style="display: block;" >
      <div style="    position: fixed;
      top: 0.5rem;z-index: 99999999;
      left: 0.25rem;" *ngIf="hide_sidebar && sidebar?.length > 0" (click)="toggle_sidebar(flase)">
       <button nz-button nzType="text" ><span nz-icon nzType="menu"></span></button>

      </div>

      <div *ngIf="!hide_sidebar && sidebar?.length > 0"
        style="display: block; background-color: rgb(240, 242, 246); background-attachment: fixed; height: 100%;overflow: auto; padding: 6rem 1rem; position: relative;width: 18rem; z-index: 100; margin-left: 0px;">
        <div style="    position: absolute;
        top: 0.5rem;z-index: 99999999;
        right: 0.25rem;" (click)="toggle_sidebar(true)">
          <button nz-button nzType="text" ><span nz-icon nzType="close"></span></button>
        </div>
        <ng-container *ngTemplateOutlet="elements; context:{value:sidebar}"></ng-container>
      </div>
    </div>
    <!-- end side  bar -->

    <!-- main content -->
    <div style="display: flex; flex-direction: column;width: 100%; overflow: auto;align-items: flex-start;">
      <div style="display: block; width:100%; padding: 6rem 1rem 10rem; /*max-width: 45rem;*/">
        <ng-container *ngIf = "app_loading">
          <nz-spin [nzSpinning]="true" [nzDelay]="500">
            <nz-alert
              [nzType]="'info'"
              [nzMessage]="'loading'"
            ></nz-alert>
          </nz-spin>
        </ng-container>
        <ng-container *ngIf = "app_error">

            <nz-alert
              [nzType]="'error'"
              [nzMessage]="'An error occurred while retrieving the app. Please try refreshing the page.'"
            ></nz-alert>

        </ng-container>

        <ng-container
          *ngTemplateOutlet="elements; context:{value:container}">
        </ng-container>
        <div style="    color: rgba(49, 51, 63, 0.7);
        font-size: 14px;
        height: 2.5rem;
        min-width: auto;
        max-width: initial;
        padding: 0.5rem 1rem;
        width: 100%; text-align: center;">Made with DataStack</div>
      </div>
      </div>
  <!-- end main content -->

  </div>
</div>



  <ng-template #elements let-value="value">
    <!-- {{value | json}} -->
    <div *ngFor="let element of value; trackBy:trackElement" >

      <div *ngFor="let key of element.prop | keyvalue">
        <div *ngIf="key.key=='label'">
          <h3 style="font-size: 14px;">{{element.prop.label}}</h3>
        </div>
      </div>


      <div  *ngIf="element.type == 'button'">
        <button nz-button nzType="primary" (click)="click(element)">{{element.prop.title}}</button>
      </div>
      <div  *ngIf="element.type == 'divider'">
        <nz-divider></nz-divider>
      </div>
      <div *ngIf="element.type == 'header'">
        <h1> <span style="font-size: calc(1.4rem + 1vw); font-weight:700">{{element.prop.data}}</span></h1>
      </div>
      <div *ngIf="element.type == 'subheader'">
        <h3 style="font-size: calc(1.3rem + .4vw); font-weight:600">{{element.prop.data}}</h3>
      </div>
      <div *ngIf="element.type == 'text'">
        {{element.prop.data}}
      </div>
      <div *ngIf="element.type == 'markdown'" [innerHTML] = 'get_marked(element.prop.data)'></div>
      <div *ngIf="element.type == 'tag'" style="padding-bottom: 5px;">
        <nz-tag nzMode="closeable">{{element.prop.data}}</nz-tag>
      </div>
      <div *ngIf="element.type == 'html'">
        <!-- {{element.prop.data}} -->
        <div [innerHTML]="senitized_html(element.prop)"></div>
      </div>
      <div *ngIf="element.type == 'editable_html'">
        <ng-container *ngTemplateOutlet="editable;context:{element:element}"></ng-container>
        <!-- <app-editable></app-editable> -->
      </div>
      <div *ngIf="element.type == 'input'">
        <input style="width: 100%;" [value]="element.prop.value" (change)="input_change(element, $event)">
      </div>
      <div *ngIf="element.type == 'slider'">
        <nz-slider [nzMin]="element.prop.min" [nzMax]="element.prop.max"  [(ngModel)]="element.prop.value" (nzOnAfterChange)="slider_value_changed(element, $event)"></nz-slider>
      </div>
      <div *ngIf="element.type == 'date_input'">
        <nz-date-picker [nzDisabledDate]="date_min_max(element.prop.min,element.prop.max)"  [style.display]="element.prop.use_container_width ? 'block' : null" [nzShowTime]="false" [nzFormat]= element.prop.date_format [(ngModel)]="element.prop.value" (ngModelChange)="date_changed(element,$event)" [nzDisabled]="element.prop.disabled"></nz-date-picker>
      </div>
      <div *ngIf="element.type == 'success' || element.type == 'info' || element.type == 'warning' || element.type == 'error'">
        <nz-alert [nzType]="element.type" [nzMessage]="element.prop.value"></nz-alert>
      </div>
      <div *ngIf="element.type == 'select' || element.type == 'select_t' ">

        <nz-select #options  (ngModelChange)="onSelected(element, $event)"  [(ngModel)]="element.prop.value" style="width: 100%;">
          <nz-option *ngFor="let x of element.prop.options"  [nzValue]="x" [nzLabel]="x"></nz-option>
        </nz-select>
      </div>
      <div *ngIf="element.type == 'radio_button'">
        <nz-radio-group (ngModelChange)="onSelected(element, $event)"  [(ngModel)]="element.prop.value">
          <label *ngFor="let x of element.prop.options" nz-radio [nzValue]="x">{{x}}</label>
        </nz-radio-group>
      </div>
      <div *ngIf="element.type == 'list'">
        <!-- <ul nz-menu style="background: transparent;">
          <li nz-menu-item *ngFor="let l of element.prop.data" (click)="list_click(element,l)">{{l}}</li>
        </ul> -->
        <nz-list >
          <nz-list-item *ngFor="let l of element.prop.data" style="align-items: start; cursor: pointer;" (click)="list_click(element,l)">
            <div *ngIf = "true">
            <!-- <div>
              <img width="100" alt="logo" *ngIf="l.image" [src]="l.image" />
            </div> -->
            <div style="width:100%; text-align: left; padding:10px">
              {{l}}
            </div>
            <!-- <div style="padding: 10px; padding-right: 40px;">{{l}}</div> -->
          </div>

          <!-- <div>
            <img width="100" alt="logo" *ngIf="l.image" [src]="l.image" />
          </div>
          <div  [innerHTML] = 'get_marked(l[element.prop.slot_start])' style="width:100%; text-align: left; padding:10px"></div>
          <div  [innerHTML] = 'get_marked(l[element.prop.slot_end])' style="padding: 10px; padding-right: 40px;text-wrap:nowrap"></div> -->

          </nz-list-item>
        </nz-list>

      </div>

      <div *ngIf="element.type == 'page_link'">
        <div (click)="page_link(element)"><span nz-icon nzType="file" nzTheme="outline"></span> {{element.prop.data}}</div>

      </div>
      <div *ngIf="element.type == 'iframe'" style="height: 93vh">
        <iframe width="100%" height="100%" [src]="sanitizer.bypassSecurityTrustResourceUrl(element.prop.url)"></iframe>
      </div>
      <div *ngIf ="element.type == 'container'" style="border:1px solid rgba(49, 51, 63, 0.2); border-radius: 0.5rem;
      padding: calc(1em - 1px); margin-top: 5px;margin-bottom: 5px;">
        <ng-container *ngTemplateOutlet="elements; context:{value:element.data}"></ng-container>
      </div>
      <div *ngIf ="element.type == 'column'" nz-row  style="padding-top: 10px;">
        <div *ngFor="let data of element.data" nz-col nzFlex="1" style="background: #f7f7f7;
        padding: 5px;
        border-radius: 5px;
        margin: 2px;">
          <ng-container *ngTemplateOutlet="elements; context:{value:data}"></ng-container>
        </div>
      </div>
      <div *ngIf ="element.type == 'tabs'">
        <nz-tabset>
          <nz-tab *ngFor="let data of element.data" [nzTitle]="data.title">
            <ng-container *ngTemplateOutlet="elements; context:{value:data.data}"></ng-container>
          </nz-tab>
        </nz-tabset>
      </div>
      <div *ngIf ="element.type == 'expander'">
        <!-- <details><summary>{{element.title}}</summary> <ng-container *ngTemplateOutlet="elements; context:{value:element.data}"></ng-container></details> -->
        <nz-collapse nzGhost> <nz-collapse-panel [nzHeader]="element.title"> <ng-container *ngTemplateOutlet="elements; context:{value:element.data}"></ng-container></nz-collapse-panel></nz-collapse>
      </div>

      <div *ngIf ="element.type == 'menu' ">
        <ul nz-menu [nzMode]="element.prop.mode" >
          <ng-container *ngFor="let item of element.prop.data">
            <li *ngIf="!item.children" nz-menu-item  [nzSelected]="item.title == element.prop.value"  (click)="menu_click(element, item.title)">{{item.title}}</li>
            <li *ngIf="item.children" nz-submenu  [nzTitle]="item.title"  [nzOpen]="is_menu_open(item,element.prop.value)">
              <ul>
                <li nz-menu-item *ngFor = "let subitem of item.children"  [nzSelected]="subitem.title == element.prop.value"(click)="menu_click(element, subitem.title)">{{subitem.title}}</li>
              </ul>
            </li>
          </ng-container>
          <!-- <li nz-menu-item style="line-height: 35px; height: 35px;"  (click)="menu_click(element, item.title)">
            <span>{{item.title}}</span>
            <ul *ngIf="item.children" nz-submenu>
              <li nz-menu-item *ngFor="let subItem of item.children">
                <span>{{ subItem.title }}</span>
              </li>
            </ul>
          </li> -->
        </ul>
      </div>


      <div *ngIf="element.type == 'image'">
        <div style="text-align:center">
          <img style="margin-left: auto;margin-right: auto;"
          [src]="element.prop.data"/>
          </div>
      </div>
      <div *ngIf="element.type == 'chart'">
        <plotly-plot [data]="element.prop.data.data" [layout]="element.prop.data.layout" (plotlyClick)="plotly_click(element, $event)" ></plotly-plot>
      </div>
      <div *ngIf="element.type == 'chart_builder'">

        <div *ngFor="let trace of graph.data, index as i">
          <!-- secondary axis -->
          trace{{i}}
          name: <input   [(ngModel)]="trace['name']">
          type:<nz-select #options  style="width: 100%;"  [(ngModel)]="trace['type']">
            <nz-option *ngFor="let x of ['scatter', 'bar']"  [nzValue]="x" [nzLabel]="x"></nz-option>
          </nz-select>

          x:<nz-select #options  style="width: 100%;" (ngModelChange) = "get_df_columns($event, i, 'x')"  [(ngModel)]="trace['x1']">
            <nz-option *ngFor="let x of appstate.columns"  [nzValue]="x" [nzLabel]="x"></nz-option>
          </nz-select>
          x_axis_type : <nz-select #options  style="width: 100%;"  (ngModelChange)="update_chart(graph.layout, 'xaxis.type', $event)" [(ngModel)]="graph.layout['x1']">
            <nz-option *ngFor="let x of ['category', 'log', 'linear']"  [nzValue]="x" [nzLabel]="x"></nz-option>
          </nz-select>

          y:<nz-select #options  style="width: 100%;" (ngModelChange) = "get_df_columns($event, i, 'y')"  [(ngModel)]="trace['y1']">
            <nz-option *ngFor="let x of appstate.columns"  [nzValue]="x" [nzLabel]="x"></nz-option>
          </nz-select>
          y_axis_type : <nz-select #options  style="width: 100%;"  [(ngModel)]="trace['type']">
            <nz-option *ngFor="let x of ['category', 'log', 'linear']"  [nzValue]="x" [nzLabel]="x"></nz-option>
          </nz-select>
          Point size: <nz-input-number (keyup)="update_chart(trace, 'marker.size', $event)" ></nz-input-number>
          Border size: <input  (change) = "update_chart(trace, 'marker.line.width', $event)" >
          Border size: <input  (change) = "update_chart(trace, 'line.width', $event)" >
          <hr>
        </div>

        <plotly-plot [data]=graph.data [layout]="graph.layout" [config] ="{editable:true}"></plotly-plot>

      </div>
      <div *ngIf="element.type == 'table'">
        <nz-table #basicTable nzSize="small" [nzData]="element.prop.data" nzBordered>
          <thead>
            <tr>
            <th *ngFor ="let h of element.prop.columns">
              {{h}}
            </th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of basicTable.data">
              <td *ngFor="let col of element.prop.columns" >

                <div [innerHTML] = data[col]></div>
                <!-- {{data[col]}} -->
              </td>
              <!-- {{data.col1}} -->
            </tr>
          </tbody>
        </nz-table>
      </div>
      <div *ngIf="element.type == 'dataframe'" style="margin:5px;">
        <angular-slickgrid [gridId]="element.prop.grid_id"
        [columnDefinitions]="element.prop.columns"
        [gridOptions]="gridOptions"
        (onAngularGridCreated)="angularGridReady($event?.detail)"
        [dataset]="element.prop.data">
</angular-slickgrid>
      </div>
      <div *ngIf="element.type == 'code'" style="border:1px solid rgba(49, 51, 63, 0.2); border-radius: 0.5rem;">
      <app-code [block]="element"></app-code>
        <!-- <nz-code-editor  [style.height.px]="height" [(ngModel)]="element.prop.code" [nzEditorOption]="{theme:'vs-dark',  language: 'python',scrollbar: {vertical: 'hidden'} , minimap:{enabled:false}, automaticLayout: true,  wordWrap: 'on', scrollBeyondLastLine: false}" (nzEditorInitialized)="onEditorInit($event)"></nz-code-editor> -->

        <!-- <textarea [(ngModel)]="element.prop.code" (input)="change_cell(element)" name="" id="" cols="30" rows="10" style="width: 100%;"></textarea> -->
        <!-- <button (click)="run_block(element)">run</button>
        <div>{{element.prop.last_run_result}}</div>
        <div>{{code_output}}</div> -->
      </div>
      <div *ngIf ="element.type == 'query'">
        <nz-code-editor style="border:1px solid" [style.height.px]="height" [(ngModel)]="element.prop.query" [nzEditorOption]="{ language: 'sql',scrollbar: {vertical: 'hidden'} , minimap:{enabled:false}, automaticLayout: true,  wordWrap: 'on', scrollBeyondLastLine: false}" (nzEditorInitialized)="onEditorInit($event)"></nz-code-editor>

        <!-- <textarea [(ngModel)] ="element.prop.query" name="" id="" cols="30" rows="10" style="width: 100%;"></textarea> -->
        <button (click)="run_query(element)">run</button>
        <div [innerHTML]="query_output"></div>
      </div>
    </div>

  </ng-template>

  <ng-template #editable let-element="element" let-root="root">
    <!-- {{root | json}} -->
    <div #editableDiv >
    <div *ngFor="let block of element.prop?.html, index as i" >
      <h1 *ngIf="block.tag == 'h1'" contenteditable [id]="block._id" (blur)="block_change(element, block, $event)" (keydown)="enter($event, i, element, block)" >{{block.html}}</h1>
      <h2 *ngIf="block.tag == 'h2'" contenteditable [id]="block._id" (blur)="block_change(element, block, $event)" (keydown)="enter($event, i, element, block)" >{{block.html}}</h2>
      <p *ngIf="block.tag == 'p'" [id]="block._id" contenteditable (blur)="block_change(element, block, $event)"  (keydown)="enter($event, i, element, block)">{{block.html}}</p>
      <ul *ngIf="block.tag == 'list'" [id]="block._id" contenteditable (blur)="block_change(element, block, $event)"  (keydown)="enter($event, i, element, block)" [innerHTML]="block.html"></ul>
      <div *ngIf="block.type == 'code'"><app-code [element]="element" [root]="root" [block]="block"></app-code></div>
      <div *ngIf="block.type == 'expander'">
        <app-expander [element]="block">

          <ng-container *ngTemplateOutlet="editable;context:{element:block, root:element}"></ng-container>
        </app-expander>
      </div>

    </div>
    <div (click)="add_new_block(element, 2)">Add</div>
  </div>

    <!-- <span  #editableDiv  (input)="change_editable(element,$event)" [innerHTML]="element.prop.html"></span> -->
  </ng-template>


  <div style="right:0; position:fixed; bottom:0" *ngIf="show_context">
    <ul>
      <li (click)="update_block('h1')">h1</li>
      <li (click)="update_block('h2')">h2</li>
      <li (click)="update_block('p')">p</li>
      <li (click)="update_block('list')">list</li>
      <li (click)="update_block('code')">code</li>
      <li (click)="update_block('expander')">expander</li>
    </ul>
  </div>


  <!-- floating button -->
  <button nz-button nz-dropdown nzShape="circle" [nzDropdownMenu]="menu" nzPlacement="topRight" style="z-index: 1000; position: fixed; bottom:30px; right:30px"><span nz-icon nzType="menu"></span></button>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item nzDisabled>Rerun</li>
      <li nz-menu-item nzDisabled >Setting</li>
      <li nz-menu-divider></li>
      <li nz-menu-item nzDisabled>About</li>
    </ul>
  </nz-dropdown-menu>

  <!-- spinner -->
  <nz-spin nzSimple [nzSize]="'small'" style="z-index: 1000; position: fixed; right:10px; top:10px" *ngIf="spinning"></nz-spin>




