



<div style="display: flex; flex-direction: row;inset: 0; place-content: flex-start; align-items: stretch; position: absolute; width: 100%;">

  
  <!-- sidebar -->
  <div style="display: block;">
    <div *ngIf="true"
      style="display: block; background-color: rgb(240, 242, 246); background-attachment: fixed; height: 100vh;overflow: auto; padding: 6rem 1rem; position: relative;width: 18rem; z-index: 100; margin-left: 0px;">
      <ng-container *ngTemplateOutlet="elements; context:{value:sidebar}"></ng-container>
    </div>
  </div>
  <!-- main app -->
  <div style="display: flex; flex-direction: column;width: 100%; overflow: auto;align-items: center;">
    <div style="display: block; width:100%; padding: 6rem 1rem 10rem; max-width: 60rem;">
      <ng-container
        *ngTemplateOutlet="elements; context:{value:container}">
      </ng-container>
    </div>
  </div>
</div>




  <ng-template #elements let-value="value">
    <!-- {{value | json}} -->
    <div *ngFor="let element of value; trackBy:trackElement" >

      <div *ngFor="let key of element.prop | keyvalue">        
        <div *ngIf="key.key=='label'">
          <h3>{{element.prop.label}}</h3> 
        </div>
      </div>
      

      <div  *ngIf="element.type == 'button'">
        <button nz-button nzType="primary" (click)="click(element)">{{element.prop.title}}</button>
      </div>
      <div  *ngIf="element.type == 'divider'">
        <nz-divider></nz-divider>
      </div>
      <div *ngIf="element.type == 'header'">
        <h1> <span style="font-size: calc(1.4rem + 1vw); font-weight:700">{{element.prop.data}}</span></h1>
      </div>
      <div *ngIf="element.type == 'subheader'">
        <h3 style="font-size: calc(1.3rem + .4vw); font-weight:600">{{element.prop.data}}</h3> 
      </div>
      <div *ngIf="element.type == 'text'">
        {{element.prop.data}}
      </div>
      <div *ngIf="element.type == 'html'">
        <!-- {{element.prop.data}} --> 
        <div [innerHTML]="element.prop.data"></div>
      </div>
      <div *ngIf="element.type == 'editable_html'">
        <ng-container *ngTemplateOutlet="editable;context:{element:element}"></ng-container>
        <!-- <app-editable></app-editable> -->
      </div>
      <div *ngIf="element.type == 'input'">
        <input style="width: 100%;" [value]="element.prop.value" (change)="input_change(element, $event)">
      </div>
      <div *ngIf="element.type == 'slider'">
        <nz-slider [nzMin]="element.prop.min" [nzMax]="element.prop.max"  (nzOnAfterChange)="slider_value_changed(element, $event)"></nz-slider>
      </div>
      <div *ngIf="element.type == 'date_input'">
        <nz-date-picker [nzDisabledDate]="date_min_max(element.prop.min,element.prop.max)"  [style.display]="element.prop.use_container_width ? 'block' : null" [nzShowTime]="false" [nzFormat]= element.prop.date_format [(ngModel)]="element.prop.data" (ngModelChange)="date_changed(element,$event)" [nzDisabled]="element.prop.disabled"></nz-date-picker>      
      </div>
    
      <div *ngIf="element.type == 'select' || element.type == 'select_t' ">
        <!-- {{element.prop.value}} -->
        <nz-select #options  (ngModelChange)="onSelected(element, $event)"  [(ngModel)]="element.prop.value" style="width: 100%;">
          <nz-option *ngFor="let x of element.prop.options"  [nzValue]="x" [nzLabel]="x"></nz-option>
        </nz-select>
      </div>
      <div *ngIf="element.type == 'list'">
        <!-- <nz-list nzSize="small" nzBordered >
          <nz-list-item *ngFor="let l of element.prop.list" (click)="list_click(element,l)">{{l}}</nz-list-item>
        </nz-list > -->
        <ul nz-menu style="background: transparent;">
          <li nz-menu-item *ngFor="let l of element.prop.data" (click)="list_click(element,l)">{{l}}</li>
        </ul>
    
      </div>
      <div *ngIf="element.type == 'page_link'">
        <div (click)="page_link(element)"><span nz-icon nzType="file" nzTheme="outline"></span> {{element.prop.data}}</div>
        
      </div>
      <div *ngIf="element.type == 'iframe'" style="height: 93vh">
        <iframe width="100%" height="100%" [src]="sanitizer.bypassSecurityTrustResourceUrl(element.prop.url)"></iframe>
      </div>
      <div *ngIf ="element.type == 'container'"> 
        <ng-container *ngTemplateOutlet="elements; context:{value:element.data}"></ng-container>
      </div>
      <div *ngIf ="element.type == 'column'" nz-row >
        <div *ngFor="let data of element.data" nz-col nzFlex="auto" style="background: #f7f7f7;
        padding: 5px;
        border-radius: 5px;
        margin: 2px;">
          <ng-container *ngTemplateOutlet="elements; context:{value:data}"></ng-container>
        </div>
      </div>
      <div *ngIf ="element.type == 'tabs'">
        <nz-tabset>
          <nz-tab *ngFor="let data of element.data" [nzTitle]="data.title">
            <ng-container *ngTemplateOutlet="elements; context:{value:data.data}"></ng-container>
          </nz-tab>
        </nz-tabset>
      </div>
      <div *ngIf ="element.type == 'expander'"> 
        <!-- <details><summary>{{element.title}}</summary> <ng-container *ngTemplateOutlet="elements; context:{value:element.data}"></ng-container></details> -->
        <nz-collapse nzGhost> <nz-collapse-panel [nzHeader]="element.title"> <ng-container *ngTemplateOutlet="elements; context:{value:element.data}"></ng-container></nz-collapse-panel></nz-collapse>
      </div>
      <div *ngIf="element.type == 'image'">
        <div style="text-align:center">
          <img style="margin-left: auto;margin-right: auto;" 
          [src]="element.prop.data"/>
          </div>
      </div>
      <div *ngIf="element.type == 'chart'">
        <plotly-plot [data]="element.prop.data" [layout]="graph.layout"></plotly-plot>
      </div>
      <div *ngIf="element.type == 'dataframe'">
        <nz-table #basicTable nzSize="small" [nzData]="element.prop.data">
          <thead>
            <tr>
            <th *ngFor ="let h of element.prop.columns">
              {{h}}
            </th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of basicTable.data">
              <td *ngFor="let col of element.prop.columns">
                {{data[col]}}
              </td>
              <!-- {{data.col1}} -->
            </tr>
          </tbody>
        </nz-table>
      </div>
      <div *ngIf="element.type == 'code'">
        <nz-code-editor style="border:1px solid" [style.height.px]="height" [(ngModel)]="element.prop.code" [nzEditorOption]="{ language: 'python',scrollbar: {vertical: 'hidden'} , minimap:{enabled:false}, automaticLayout: true,  wordWrap: 'on', scrollBeyondLastLine: false}" (nzEditorInitialized)="onEditorInit($event)"></nz-code-editor>

        <!-- <textarea [(ngModel)]="element.prop.code" (input)="change_cell(element)" name="" id="" cols="30" rows="10" style="width: 100%;"></textarea> -->
        <button (click)="run_block(element)">run</button>
        <div>{{element.prop.last_run_result}}</div>
        <div>{{code_output}}</div>
      </div>
      <div *ngIf ="element.type == 'query'">
        <nz-code-editor style="border:1px solid" [style.height.px]="height" [(ngModel)]="element.prop.query" [nzEditorOption]="{ language: 'sql',scrollbar: {vertical: 'hidden'} , minimap:{enabled:false}, automaticLayout: true,  wordWrap: 'on', scrollBeyondLastLine: false}" (nzEditorInitialized)="onEditorInit($event)"></nz-code-editor>

        <!-- <textarea [(ngModel)] ="element.prop.query" name="" id="" cols="30" rows="10" style="width: 100%;"></textarea> -->
        <button (click)="run_query(element)">run</button>
        <div [innerHTML]="query_output"></div>
      </div>
    </div>

  </ng-template>

  <ng-template #editable let-element="element" let-root="root">
    <!-- {{root | json}} -->
    <div #editableDiv >
    <div *ngFor="let block of element.prop?.html, index as i" >
      <h1 *ngIf="block.tag == 'h1'" contenteditable [id]="block._id" (blur)="block_change(element, block, $event)" (keydown)="enter($event, i, element, block)" >{{block.html}}</h1>
      <h2 *ngIf="block.tag == 'h2'" contenteditable [id]="block._id" (blur)="block_change(element, block, $event)" (keydown)="enter($event, i, element, block)" >{{block.html}}</h2>
      <p *ngIf="block.tag == 'p'" [id]="block._id" contenteditable (blur)="block_change(element, block, $event)"  (keydown)="enter($event, i, element, block)">{{block.html}}</p>
      <ul *ngIf="block.tag == 'list'" [id]="block._id" contenteditable (blur)="block_change(element, block, $event)"  (keydown)="enter($event, i, element, block)" [innerHTML]="block.html"></ul>
      <div *ngIf="block.type == 'code'"><app-code [element]="element" [root]="root" [block]="block"></app-code></div>
      <div *ngIf="block.type == 'expander'">
        <app-expander [element]="block">
    
          <ng-container *ngTemplateOutlet="editable;context:{element:block, root:element}"></ng-container>
        </app-expander>
      </div>
      
    </div>
    <div (click)="add_new_block(element, 2)">Add</div>
  </div>
    
    <!-- <span  #editableDiv  (input)="change_editable(element,$event)" [innerHTML]="element.prop.html"></span> -->
  </ng-template>


  <div style="right:0; position:fixed; bottom:0" *ngIf="show_context">
    <ul>
      <li (click)="update_block('h1')">h1</li>
      <li (click)="update_block('h2')">h2</li>
      <li (click)="update_block('p')">p</li>
      <li (click)="update_block('list')">list</li>
      <li (click)="update_block('code')">code</li>
      <li (click)="update_block('expander')">expander</li>
    </ul>
  </div>


  