# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc
*$py.class

# Distribution / packaging
build/
# dist/
eggs/
.eggs/
# *.egg-info/
*.egg
*.egg-info
.prerelease-version

enovix_test_app.py
enovix_test_app1.py

venv